// -include/card.pug
.card 
    .card-header    
        p.card-header-title #{update.title}
    .card-content
        .content #{update.description}
    .card-footer
        a.card-footer-item(href="") View

