// -include/card.pug
.card 
    .card-header    
        p.card-header-title #{update.title}
    .card-content
        .content #{update.description}
    .card-footer
        a.card-footer-item(href=`/update/details/${update.ID}`) View 
        if update.issue && update.solved
            p.card-footer-item(style="color:green") Solved
        else 
            if update.issue 
                p.card-footer-item(style="color:red") Issue Pending
        

