// - includes/loginform.pug 

section.hero.is-primary.is-fullheight
  .hero-body
     .container
      .columns.is-centered
        .column.is-5-tablet.is-4-desktop.is-3-widescreen
          form.box#loginform(action="")
            .field
              label.label(for="") Email
              .control.has-icons-left
                input(type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required)
                span(class="icon is-small is-left")
                  i(class="fa fa-envelope")
            .field
              label(for="" class="label") Password
              .control.has-icons-left
                input(type="password" placeholder="*******" class="input" required)
                span(class="icon is-small is-left")
                  i(class="fa fa-lock")
            .field
              button(class="button is-success") Login