// -includes/navbar.pug

div(id='navbar-container')
    .container 
      nav(class="navbar", role="navigation", aria-label="main navigation")
        .navbar-brand
          a(class="navbar-item", href="/")
            img(src="/images/treechamp_logo.png", width="120", height="28")
        .navbar-end
          a(class="navbar-burger" id="burger-icon")
              span 
              span 
              span 
          .navbar-menu#navbar-links
                #login-links
                    a.navbar-item(href="") My updates 
                    a.navbar-item(href="") Change Password 
                    a.navbar-item(href="") Log out 
                #anonymous-links.buttons
                  a.navbar-item(class="button is-primary", id="register") Register
                  a.navbar-item(class="button is-light", id="login") Log in 
                           

        