//- Index.pug
extends layout.pug 

append css
    link(rel='stylesheet', href='/stylesheets/search.css')

block content
  div(id='body-box')
    include includes/navbar.pug

    div(id='map')
    div(id="userLocation") 
      button(class="button is-rounded is-primary" id="showNearbyTrees") Show nearby trees

block append scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW6nfcW0gciSVpQ3oE4pnyP46hEGOzAq4&callback=initialize&libraries=&v=weekly", async)
  script(src='/javascripts/search.js')


