extends layout

block content
    section.hero.is-primary.is-fullheight
        .hero-body
            .container
                .columns.is-centered
                    .column.is-5-tablet.is-4-desktop.is-3-widescreen
                        form.box#loginform(action="")
                            .field
                                label.label(for="") Username
                                .control.has-icons-left
                                    input(type="text" id="username" placeholder="Aravinth" class="input" required)
                                    span(class="icon is-small is-left")
                                        i(class="fa fa-envelope")
                            .field
                                label(for="" class="label") Password
                                .control.has-icons-left
                                    input(type="password" id="password" placeholder="*******" class="input" required)
                                    span(class="icon is-small is-left")
                                        i(class="fa fa-lock")
                            .field
                                label(for="" class="checkbox") #[input(type='checkbox', id="remember", name='hidden')] Remember me
                            .field
                                label(for="" class="checkbox") #[input(type='checkbox', id="admin", name='hidden')] Admin
                            .field.is-grouped
                                .control 
                                    button.button#user-close Cancel 
                                .control 
                                    button(class="button is-success", id="login-button") Login 
                            
        .modal#success-modal
            .modal-background 
            .modal-content
                .box You are now logged in! Redirecting.... 

        .modal#error-modal
            .modal-background 
            .modal-content
                .box Please try again!    
        

block append scripts 
    script(src="/javascripts/user.js")