nav.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand(href="#") TreeChamp
    button.navbar-toggler(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.fas.fa-cloud
    
    