extends layout

append css
    link(rel='stylesheet', href='/stylesheets/update.css')
block content
    .overall-container
        include includes/navbar.pug
        .section 
            .container
                h1.title Add an update
                .columns 
                    .column.box     
                        figure.image 
                            img#upload_widget(src="/images/addimage.png", alt="Tap to add an image")
                            button.delete.is-large#image-delete   
                    .column.box 
                        .form-box
                            .field 
                                label.label(for="") Title
                                .control
                                    input.input#title(type="text", placeholder="Title for the update", required)
                            .field 
                                label.label(for="") Description
                                .control
                                    textarea.textarea.is-small#description(placeholder="Description for the update", required)
                            .field 
                                label.label(for="") Caption for image
                                .control
                                    input.input#caption(type="text", placeholder="Add a caption to the image", required)
                            .field 
                                label(for="" class="checkbox") #[input(type='checkbox', id="issue", name='hidden', value=1, checked='')] Mark as Issue
                                p.help.is-danger(style="display:none") Please Enter all fields!
                            .field.is-grouped
                                .control 
                                    button.button#cancel-upload Cancel
                                .control
                                    button(id="submit" class="button is-primary" value="Upload") Submit

        .modal#upload-success 
            .modal-background 
            .modal-content 
                .box 
                    p Update made successfully!
                    .field.is-grouped(style="display: flex;justify-content: flex-end; padding: 20px")
                        .control
                            button.button#upload-modal-close Close
                        .control
                            button.button.is-success#view-updates(onclick="allUpdatesButton()") View Updates

        p#ptreeid(style="display:none") #{treeid}
block append scripts 
    script(src="https://widget.cloudinary.com/v2.0/global/all.js")
    script(src="/javascripts/update.js")
    script.
        setData(#{treeid});