#tree-detail {
    display:flex;
    justify-content: center;
}
html,body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

@media only screen and (max-width: 752px) {
    #map {
        height: 300px;
        width: 100%;
    }
}

