.delete {
    position: absolute;
    top: 5px;
    right: 7px;
    /* maybe add z index*/
    z-index: 3;
}

#upload_widget:hover {
    background-color: aqua !important
}

.column.box {
    margin:10px;
}